# App
TZ=UTC
HOST=0.0.0.0
PORT=3333
LOG_LEVEL=info
APP_KEY=   # generate with `node ace generate:key`
NODE_ENV=development

# Session
SESSION_DRIVER=cookie

# Database (Postgres)
DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Goose042mint
DB_DATABASE=jmtododb

# SMTP (Mail)
SMTP_DRIVER=smtp
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=no-reply@example.com
SMTP_FROM_NAME="JMTodo"
